.group-item,
.rectangle-group {
  position: absolute;
  left: 0;
  width: 340px;
  height: 1497px;
}
.group-item {
  top: 0;
  background-color: var(--silver);
}
.rectangle-group {
  top: -1px;
}
.personal-details1 {
  top: 138px;
  left: 360px;
  font-size: var(--font1-size);
  color: var(--beige);
}
.company-details1,
.financial-details1,
.personal-details1 {
  position: absolute;
  letter-spacing: -0.02em;
}
.company-details1 {
  top: 138px;
  left: 960px;
  font-size: var(--font1-size);
  color: var(--beige);
}
.financial-details1 {
  top: 601px;
}
.account-login1,
.emergency-details1,
.financial-details1 {
  left: 960px;
  font-size: var(--font1-size);
  color: var(--beige);
}
.emergency-details1 {
  position: absolute;
  top: 842px;
  letter-spacing: -0.02em;
}
.account-login1 {
  top: 1153px;
}
.account-login1,
.add-full-name,
.bank-details1,
.name {
  position: absolute;
  letter-spacing: -0.02em;
}
.bank-details1 {
  top: 987px;
  left: 360px;
  font-size: var(--font1-size);
  color: var(--beige);
}
.add-full-name,
.name {
  display: inline-block;
}
.name {
  width: 70%;
  top: 0;
  left: 1.36%;
  font-weight: 600;
}
.add-full-name {
  width: 87.73%;
  top: 50%;
  left: 6.82%;
  font-size: var(--font-size);
}
.instance-item {
  position: absolute;
  height: 71.67%;
  width: 100.45%;
  top: 29.17%;
  right: -0.23%;
  bottom: -0.83%;
  left: -0.23%;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.group-div,
.name-container,
.name-group,
.name-parent {
  position: absolute;
  top: 875px;
  left: 960px;
  width: 220px;
  height: 60px;
}
.group-div,
.name-container,
.name-group {
  top: 1168px;
  left: 360px;
}
.group-div,
.name-container {
  left: 600px;
}
.group-div {
  top: 875px;
  left: 1200px;
}
.name-parent1,
.name-parent2,
.name-parent3,
.name-parent4 {
  position: absolute;
  top: 1023px;
  left: 960px;
  width: 220px;
  height: 60px;
}
.name-parent2,
.name-parent3,
.name-parent4 {
  left: 1200px;
}
.name-parent3,
.name-parent4 {
  top: 397px;
}
.name-parent4 {
  top: 551px;
  left: 360px;
}
.add-full-name8 {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 6.82%;
  font-size: var(--font-size);
  letter-spacing: -0.02em;
  color: var(--black);
  display: inline-block;
}
.instance-child6 {
  position: absolute;
  height: 71.67%;
  width: 100.45%;
  top: 29.17%;
  right: -0.23%;
  bottom: -0.83%;
  left: -0.23%;
  border-radius: var(--br-5xs);
  border: 1px solid var(--beige);
  box-sizing: border-box;
}
.name-parent5 {
  position: absolute;
  top: 551px;
  left: 600px;
  width: 220px;
  height: 60px;
  color: var(--beige);
}
.instance-child7 {
  position: absolute;
  height: 71.67%;
  width: 100.22%;
  top: 29.17%;
  right: -0.11%;
  bottom: -0.83%;
  left: -0.11%;
  border-radius: var(--br-5xs);
  border: 1px solid var(--red);
  box-sizing: border-box;
}
.add-full-name9,
.name9 {
  position: absolute;
  letter-spacing: -0.02em;
}
.name9 {
  width: 33.48%;
  top: 0;
  left: 0.65%;
  font-weight: 600;
  display: inline-block;
}
.add-full-name9 {
  top: 50%;
  left: 3.26%;
  font-size: var(--font-size);
}
.rectangle-container {
  position: absolute;
  top: 403px;
  left: 360px;
  width: 460px;
  height: 60px;
  color: var(--red);
}
.name-parent6,
.name-parent7 {
  position: absolute;
  top: 477px;
  left: 360px;
  width: 220px;
  height: 60px;
}
.name-parent7 {
  top: 397px;
  left: 960px;
}
.name-parent10,
.name-parent8,
.name-parent9 {
  position: absolute;
  top: 477px;
  left: 600px;
  width: 220px;
  height: 60px;
}
.name-parent10,
.name-parent9 {
  top: 857px;
  left: 360px;
}
.name-parent10 {
  left: 600px;
}
.calendar-plus-02-icon,
.calendar-plus-02-icon1 {
  position: absolute;
  top: 504px;
  left: 544px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.calendar-plus-02-icon1 {
  top: 424px;
  left: 1144px;
}
.add-employee-child {
  position: absolute;
  top: 175px;
  left: 359px;
  border-radius: var(--br-5xs);
  border: 1px dashed var(--dark-gray);
  box-sizing: border-box;
  width: 133px;
  height: 133px;
}
.mb-max-size {
  color: var(--dark-gray);
}
.upload-profile-picture-container {
  position: absolute;
  top: 232px;
  left: 517px;
  font-size: var(--font-size);
  letter-spacing: -0.02em;
  color: var(--black);
}
.drop-a-file {
  position: absolute;
  top: 260px;
  left: 372px;
  letter-spacing: -0.02em;
  text-align: center;
  display: inline-block;
  width: 107px;
}
.upload-01-icon {
  position: absolute;
  top: 206px;
  left: 407px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.add-employee-item {
  position: absolute;
  top: 141.5px;
  left: 889.5px;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1px;
  height: 1355px;
}
.add-employee-child1,
.add-employee-child2,
.add-employee-child3,
.add-employee-inner {
  position: absolute;
  top: 565.5px;
  left: 959.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 461px;
  height: 1px;
}
.add-employee-child1,
.add-employee-child2,
.add-employee-child3 {
  top: 806.5px;
}
.add-employee-child2,
.add-employee-child3 {
  top: 1117.5px;
}
.add-employee-child3 {
  top: 951.5px;
  left: 359.5px;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--beige);
  width: 220px;
  height: 46px;
}
.submit {
  position: absolute;
  top: 12px;
  left: 70.58px;
  letter-spacing: -0.02em;
  font-weight: 600;
  display: inline-block;
  width: 78.83px;
}
.rectangle-parent1,
.save-as-draft {
  position: absolute;
  font-size: var(--b-size);
}
.rectangle-parent1 {
  top: 1355px;
  left: 1200px;
  width: 220px;
  height: 46px;
  cursor: pointer;
  text-align: center;
  color: var(--light-gray);
}
.save-as-draft {
  top: 1367px;
  left: 1040px;
  letter-spacing: -0.02em;
  text-align: right;
  display: inline-block;
  width: 138px;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--silver);
  width: 32px;
  height: 32px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.chevron-down-icon {
  position: absolute;
  top: -28px;
  left: -28px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child2,
.rectangle-parent2 {
  position: absolute;
  width: 32px;
  height: 32px;
}
.rectangle-parent2 {
  top: 532px;
  left: 815px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.group-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--silver);
}
.chevron-down-icon1 {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-parent3,
.rectangle-parent4,
.rectangle-parent5 {
  position: absolute;
  top: 1191px;
  left: 783px;
  width: 32px;
  height: 32px;
}
.rectangle-parent4,
.rectangle-parent5 {
  left: 543px;
}
.rectangle-parent5 {
  top: 494px;
  left: 1382px;
}
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  position: absolute;
  top: 661px;
  left: 1382px;
  width: 32px;
  height: 32px;
}
.rectangle-parent7,
.rectangle-parent8 {
  top: 420px;
}
.rectangle-parent8 {
  top: 346px;
}
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent9 {
  position: absolute;
  top: 272px;
  left: 1382px;
  width: 32px;
  height: 32px;
}
.rectangle-parent10,
.rectangle-parent11 {
  top: 880px;
  left: 783px;
}
.rectangle-parent11 {
  left: 543px;
}
.add-employee-child4 {
  position: absolute;
  top: 543.5px;
  left: 658.5px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 162px;
  height: 151px;
}
.female,
.other {
  position: absolute;
  top: 610px;
  left: 690px;
  font-size: var(--font-size);
  letter-spacing: -0.02em;
}
.other {
  top: 652px;
}
.add-employee-child5 {
  position: absolute;
  top: 563px;
  left: 667px;
  border-radius: var(--br-10xs);
  background-color: var(--light-gray);
  width: 144px;
  height: 29px;
}
.male {
  position: absolute;
  top: 568px;
  left: 690px;
  font-size: var(--font-size);
  letter-spacing: -0.02em;
  color: var(--black);
}
.add-employee {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1496px;
  overflow: hidden;
  text-align: left;
  font-size: var(--b1-size);
  color: var(--dark-gray);
  font-family: var(--b);
}
