.manage-employee-child2,
.manage-employee-child3 {
  position: absolute;
  top: 195px;
  box-sizing: border-box;
}
.manage-employee-child2 {
  left: 359px;
  border-radius: var(--br-2xs);
  border: 1px solid var(--color-gainsboro);
  width: 1060px;
  height: 455px;
}
.manage-employee-child3 {
  left: 360px;
  border-bottom: 1px solid var(--color-gainsboro);
  width: 1059px;
  height: 38px;
}
.action2,
.department3,
.designation,
.employee4,
.id4,
.status1 {
  position: absolute;
  top: 206px;
  left: 453px;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.action2,
.department3,
.designation,
.id4,
.status1 {
  left: 706px;
}
.action2,
.designation,
.id4,
.status1 {
  left: 872px;
}
.action2,
.id4,
.status1 {
  left: 1089px;
}
.action2,
.id4 {
  left: 1273px;
}
.id4 {
  left: 409px;
}
.manage-employee-child4 {
  position: absolute;
  top: 204.25px;
  left: 379.25px;
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 18.5px;
  height: 18.5px;
}
.showing-1-to {
  position: absolute;
  top: 625px;
  left: 380px;
  letter-spacing: -0.02em;
  color: var(--dark-gray);
}
.group-child129 {
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 297px;
  height: 41px;
}
.group-child129,
.icon4,
.search2 {
  position: absolute;
}
.icon4 {
  height: 40%;
  width: 5.41%;
  top: 30%;
  right: 89.86%;
  bottom: 30%;
  left: 4.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search2 {
  top: 10px;
  left: 42px;
  letter-spacing: -0.02em;
}
.rectangle-parent22 {
  position: absolute;
  top: 133px;
  left: 359px;
  width: 296px;
  height: 40px;
  font-size: var(--b-size);
}
.manage-employee1 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--b1-size);
  color: var(--black);
  font-family: var(--b);
}
